* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

#page-header {
  padding: 1rem 0rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-header ul li {
  list-style-type: none;
  padding-left: 1rem;
}
